@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  @keyframes rot55 {
    to {
      transform: rotate(360deg);
    }
  }

  .animate-rot55 {
    animation: rot55 0.7s linear infinite;
  }

  .shadow-spinner {
    box-shadow: -10px -10px 10px #59d8f8, 0px -10px 10px 0px #3293e2, 10px -10px 10px #68f3d0, 10px 0 10px #59d8f8, 10px 10px 10px 0px #57fcd8, 0 10px 10px 0px #4edaec, -10px 10px 10px 0px #4696f3;
  }
}